<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>uploadFile</servlet-name>
        <servlet-class>Servlets.uploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>Servlets.Download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rename</servlet-name>
        <servlet-class>Servlets.Rename</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>Servlets.Delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadFile</servlet-name>
        <url-pattern>/save</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registerp</servlet-name>
        <servlet-class>Servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/validation</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RenameJSP</servlet-name>
        <jsp-file>/rename.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>RenameJSP</servlet-name>
        <url-pattern>/RenameFile</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>LoginJSP</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginJSP</servlet-name>
        <url-pattern>/Login/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Register</servlet-name>
        <jsp-file>registration.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>upload</servlet-name>
        <jsp-file>fileUpload.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerp</servlet-name>
        <url-pattern>/validater</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/DownloadFile</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Rename</servlet-name>
        <url-pattern>/R</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    
    
    
    
    
    
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
